<div class="container" id="order-confirmed">
   <div class="row ct-section_header ct-section_header--type2"></div>
   <div class="row trip-details">
      <!-- <div class="venue-details col-9" style="background: url(<%#= image_url('bar1.jpg') %>;"> -->
      <div class="venue-details col-9">
        <div class="container">
          <div class="progress-bar">
            <div class="loaded-order-confirmed"></div>
          </div>
        </div>
        <div><br/>
          <h2> You're going to </h2> <br/>
          <h1>🎉<%= @venue.name %>🎉 </h1><br/>
          <h5> Cool facts: </h5>
         <% @facts.each do |fact| %>
            <p><li> <%= fact %> </li></p>
         <% end %>
         </br>

        </div>
        <div>
         <div class=" star-rating">
          <%= render 'stars' %>
         </div>
         <div class="pricing-details">
            <%= render 'pricing' %>
         </div>
         <p class="hours">Open until <%= @venue.hours %></p>
        </div>
      </div>
       <button type="button" class="btn share-button col-9 pick-confirmed-btn" data-toggle="modal" data-target="#booking-show-link-modal">
         Share venue with friends
      </button>
      <button type="button" class="btn share-button col-9 pick-confirmed-btn" data-toggle="modal" data-target="#rating-modal">
         Rate this venue
      </button>
   </div>
</div>
