<div class="container" id="order-confirmed">
  <h1 style="margin: 20px auto 0 auto; text-align: center"> Driver Arrived </h1>
   <div class="row ct-section_header ct-section_header--type2"></div>
   <div class="row trip-details">
      <!-- <div class="venue-details col-9" style="background: url(<%#= image_url('bar1.jpg') %>;"> -->


      <h1> Driver Arrived </h1> <br/>


      <div class="venue-details col-9 mb-30" style="padding-top: 50px;">
        <div class="container">
          <div class="progress-bar">
            <div class="loaded-pick-confirmed"></div>
          </div>
        </div>

        <div><br/>
          <h5> You're going to </h5> <br/>
          <h2><%= @venue.name %>🎉 </h2><br/>
          <h5> Cool facts: </h5>
         <% @facts.each do |fact| %>
            <p><li> <%= fact %> </li></p>
         <% end %>
         </br>

        </div>
        <div>
         <div class=" star-rating">
          <%= render 'stars' %>
         </div>
         <div class="pricing-details">
            <%= render 'pricing' %>
         </div>
         <p class="hours">Open until <%= @venue.hours %></p>
        </div>
      </div>
        <div class="bottom-navbar d-flex" style="padding:0; background-color: black;">
          <div class="d-flex col-6">
            <button type="button" class="btn share-button-nav col-10 pick-confirmed-btn" data-toggle="modal" data-target="#booking-show-link-modal" style=" color: white; border:1px solid white;">
            Share
            </button>
          </div>
            <div class="d-flex col-6">
              <button type="button" class="btn share-button-nav col-10 pick-confirmed-btn" data-toggle="modal" data-target="#rating-modal" style="color:black; background-color: white">
                 Rate
              </button>
            </div>

        </div>
   </div>
</div>
