<section class="hero venue-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1556035511-3168381ea4d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');">

   <h1><%= current_user.name %>'s Past Spins:</h1>
</section>
<section class="content">
   <section class="add-margin-bottom">
      <div class="container">
         <div class="row ct-section_header ct-section_header--type2"></div>
         <div class="row trip-details">
            <!-- <div class="venue-details col-9" style="background: url(bar1.jpg);"> -->

                <% current_user.bookings.each do |booking| %>
                  <div class="card_container">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= booking.venue.picture %>);">
                    <div class="pic_text" style="text-align:center">
                      <%=booking.venue.name  %>
                    </div>
                    <div class="pic_text_2" style="text-align:center">
                      <%= booking.venue.venue_type %>
                    </div>
                    <div>
                     <%= link_to "Check out the details again", booking %>
                    </div>
                  </div>
                <% end %>

            <!-- </div> -->
         </div>
      </div>
   </section>
</section>


