

<section class="hero venue-image" style="background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)), url(<%= @venue.picture %>);">


</section>

<section class="content">
   <section class="add-margin-bottom">
      <% if @booking.status == 'order-confirmed' %>
        <%= render 'order-confirmed' %>
      <% elsif @booking.status == 'driver-confirmed' %>
        <%= render 'driver-confirmed' %>
      <% elsif @booking.status == 'pick-confirmed' %>
        <%= render 'pick-confirmed' %>
      <% elsif @booking.status == 'arrival-confirmed' %>
        <%= render 'arrival-confirmed' %>
      <% end %>
   </section>
</section>


<%# Modal Closer to the body %>
<%= render 'venues/rating-modal', venue: @venue  %>
<%= render 'car-order-modal', venue: @venue  %>
<%= render 'booking-show-link-modal'  %>

<%# Magic that updates every 3s %>
<%= link_to "I am invisible", fetch_status_booking_path(@booking.id), id: "invisible-twist", style: "display: none;", remote: true %>
<% content_for(:after_js) do %>
  <script>
    // const interval = setInterval(function() {
      // document.getElementById("invisible-twist").click();
     //}, 3000);
  </script>
<% end %>

