<section class="hero venue-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @venue.picture %>);">
   <h1>We've found an awesome <%= @venue.venue_type %> for you, <strong><%= current_user.name.capitalize %></strong>! </h1>
</section>
<section class="content">
   <section class="add-margin-bottom">
      <div class="container">
         <div class="row ct-section_header ct-section_header--type2"></div>
         <div class="row trip-details">
            <div class="venue-details col-9">
              <h2> To say thank you for choosing Night Roulette, the first round of drinks is on us! Give your waiter or bartender the code <strong> NightRoulette💲</strong> for it.</h2></br>
               <h2> Some cool facts about this place:</h2></br>
               <% @facts.each do |fact| %>
                  <p><li> <%= fact %> </li></p>
               <% end %>

               <div class="star-rating">
                  <%= render 'stars' %>
               </div>

               <%= render 'pricing' %>

               <p class="hours">Open until <%= @venue.hours %></p>
            <button type="button" class="btn share-button"> Order me a car 🎉 </button>

            </div>

            <%# <div class="btn share-button">Share with your friends</div> %>
         </div>

      </div>
   </section>
</section>

<%# Modal Closer to the body %>
<!-- this button was linked to the rating modal ––>


<%#<button type="button" class="btn share-button" data-toggle="modal" data-target="#rating-modal">
               Rate this venue
            </button>

The rating modal here:

<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <%= render 'venues/rating-form', venue: @venue  %>
      </div>
</div>
