<section class="hero venue-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @venue.picture %>);">
   <h1>You're lucky, <strong><%= @booking.user.name.capitalize %></strong>! You're going to ...</h1>
</section>
<section class="content">
   <section class="add-margin-bottom">
      <div class="container">
         <div class="row ct-section_header ct-section_header--type2"></div>
         <div class="row trip-details">
            <div class="venue-details col-9">
               <h1> <%= @venue.name %> </h1>
               <p> <%= @venue.location %> </p> </br>
               <h2> Cool facts: </h2>
               <% @facts.each do |fact| %>
                  <p><li> <%= fact %> </li></p>
               <% end %>

               <div class="star-rating">
                  <%= render 'stars' %>
               </div>

               <%= render 'pricing' %>

               <p class="hours">Open until <%= @venue.hours %></p>

               <%= render 'map' %>
            </div>
            <button type="button" class="btn share-button" data-toggle="modal" data-target="#rating-modal">
               Rate this venue
            </button>
            <%# <div class="btn share-button">Share with your friends</div> %>
         </div>

      </div>
   </section>
</section>

<%# Modal Closer to the body %>
<%= render 'venues/rating-modal', venue: @venue  %>
