<!DOCTYPE html>
<html>
<head>
  <title>Night Roulette</title>
  <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556035511-3168381ea4d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);">
  </div>
  <div class="landing-page-content">
    <div class="row" style="text-align: center;">
      <div class="header-text col-9" style="margin: 25px auto;">
        <h1> Night Roulette </h1>
        <p class="headline load-hidden">
          Get ready for the best night of your life
        </p>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="cards">
        <% @random_first.each do |venue| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= venue.picture %>);">
              <div class="pic_text" style="text-align:center"><%= venue.name %></div>
                <div class="pic_text_2" style="text-align:center"> <%= venue.venue_type.capitalize %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row col-12" style="color: white;">
    <div class="landing-page-card-instruction">
      <div class="row col-9 mx-5 px-3">
        <h3 style="margin:20px;">How it Works</h3>
          <i class="far fa-check-square"> Select your Preferences </i>
          <i class="far fa-check-square"> Connect your Uber </i>
          <i class="far fa-check-square"> Spin the Wheel </i>
          <i class="far fa-check-square"> Have the Time of Your Life! </i>
      </div>
    </div>
  </div>
   <div class="container">
      <div class="cards">
        <% @random_last.each do |venue| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= venue.picture %>);">
              <div class="pic_text" style="text-align:center"><%= venue.name %></div>
                <div class="pic_text_2" style="text-align:center"> <%= venue.venue_type.capitalize %></div>
          </div>
        <% end %>
      </div>
    </div>
  <script>
    ScrollReveal().reveal('.card', { delay: 300, reset: true});
    ScrollReveal().reveal('.headline load-hidden', {delay: 500});
  </script>
</body>
</html>


